.menu{
    width: 100%;
    border-bottom: 1px solid #ed161c;
    text-align: center;
    padding: 0px 10px;
    background:#dcd9d7;
}
.img{
    max-width: 150px;
}
.title{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.5px;
 
}