.relogioNumero {
  height: 3.6rem;
  width: 3rem;
  margin-top: -15px;
  padding: 20px 5px;
  border-radius: 10px;

  @media screen and (min-width: 1280px) {
    height: 10.8rem;
    width: 9rem;
  }
}

.relogioDivisao {
  height: 4.2rem;
  margin-top: -20px;

  @media screen and (min-width: 1280px) {
    height: 12.6rem;
  }
}
