.navbar{
    display: flex;
    flex-direction:column;
    margin:0%;
}
.logotipo{
    max-width: 25%;
}
.responsive_mobile{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin:auto 5%;
}
.btn_burger{
    display: none;
    border:none;
    background:transparent;
    font-size:25px;
    color:#bc3938;
    cursor: pointer;
    position: relative;
    top:5px;
}
.list{
    padding:0;
    width: 100%;
    max-height: 400px;
}
.list_item{
    text-decoration: none;
    color:#bc3938;
    font-weight:900;
    font-size:20px;
    letter-spacing:1px;
    padding: 10px 100px;
    letter-spacing: 1px;
    width: 100%;
}
.list_item:hover{
    background:linear-gradient(#bc3938,#bc3838d2);
    color:#ffffff;
    transition: 500ms;
}
.icons_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#bc3938;
}
.icons_item1,.icons_item2{
    font-size:25px;
}
.icons_item1:hover,.icons_item2:hover{
    background:linear-gradient(#bc3938,#bc3838d2);
    color:#ffffff;
    transition: 500ms;
}


@media only screen and (max-width:999px){
.logotipo{
        width: 200px;
}

.btn_burger{
    display: flex;
}
.list{
    display: none;
    margin-top: -1000px;
    transition-delay: 2s;
}
.list_active{
    text-align: center;
    margin-top: -6px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background:linear-gradient(#ffbcbb,#ffbcbba2);
    display: flex;
    flex-direction: column;
    transition-delay: 2s;
    height: 80vw;
    justify-content:space-evenly;
}
.list_item{
    margin-top: 20px;
}
.icons_item1{
    margin-right: 10px;
    font-size: 25px;
}

}
@media only screen and (min-width:1000px){
    .navbar{
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      text-align: center;
    }
    .responsive_mobile{
        width: 40%;
    }
    .list{
        display: flex;
        flex-direction: row;
        align-items: center; 
        justify-content:center;
        width: 80%;
    }
    .list_item{
        width: auto;
        text-align: center;
        width: 20%;
        padding: 10px 25px;
    }
    .icons_list{
        width: 20%;
        position: relative;
        left: 20px;
        padding: 10px;
        
    }
    .icons_item1{
        position: relative;
        left:15px;
        padding:10px;
    }
}
