.header_bottom{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    margin: 25px 0;
    width: 100%;
    height: auto;
}
.header_bottom_div_img{
    width:100%;
    margin-bottom: 0px;
    text-align:center;
}
.img{
max-width:20em;
position:relative;
float: center;
bottom:-28px;

}
.header_bottom_div_texto{
    width:90%;
    margin: 20px 0;
    padding:13px;
   
}
.header_bottom_div_texto_title{
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: 1px;
    padding-right: 20px;
}
.header_bottom_div_texto_p{
    margin-top:10px;
    color: #ffffffb7;
}
.header_bottom_div_texto_button1{
    margin-top:20px;
    letter-spacing: 2px;
}


@media screen and (min-width:845px) {
    .header_bottom{
        display:flex;
        flex-direction:row;
    }
    .header_bottom_div_texto{
        width:90%;
        margin: 20px 0;
        padding:30px 20px 0px 40px;
       
    }
    .img{
        max-width:30em;
        position:relative;
        float: center;
        top: 28px;
        bottom:0px;
        }

    .header_bottom_div_texto_button1{
        margin-top:50px;
    }
    
}
@media screen and (min-width:1000px) {
    .img{
        bottom:-4px; 
    }
}