.burger_seems > span{
    display: block;
    width: 25px;
    height:3px;
    border-radius: 9999px;
    background-color:black;
 }
 .burger_seems > span:not(:last-child){
     margin-bottom:5px;
 }
 .burger_seems, .burger_seems > span{
   transition: all 4s ease-in-out;
 }
 .burger_seems.active{
     transition-delay:0.8s;
     transform: rotate(45deg);
 }
 .burger_seems.active > span:nth-child(2){
     width:0;
 }
 .burger_seems.active > span:nth-child(1),
 .burger_seems.active > span:nth-child(3){
    transition-delay: 4s;
 }
 .burger_seems.active > span:nth-child(1){
    transform: translateY(9px);
 }
 .burger_seems.active > span:nth-child(3){
    transform: translateY(-9px) rotate(90deg);
 }

 
 