.header_bottom_div_texto_button{
    padding:12px 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: inherit;
    border-radius: 20px;
    border:0.5px solid #ffffff;
    background:transparent;
    color:#ffffff;
    transition: 500ms;
}
.header_bottom_div_texto_button:hover{
    background:#ffffff;
    color:#90449a;
}
.header_bottom_div_texto_button i{
    font-size: 20px;
    position: relative;
    bottom: -6px;
    margin-left: 10px;
}